# LLM API KEYS
GROQ_API_KEY= ""
OPENAI_API_KEY='
GROQ_FALLBACK_API_KEY= ""
GOOGLE_API_KEY=''
GOOGLE_API_KEY2=''
PORTKEY_API_KEY=''
JUDGE_GROQ_API=''
GROQ_SLUG='enterprise-rag'
GROQ_SLUG_2='enterprise-rag-2'
# VECTOR DB

PINECONE_API_KEY=''
QUADRANT_API_KEY=''
QUADRANT_EP=''
COHERE_API_KEY=''
QDRANT_COLLECTION=''






# OBSERVABILITY 
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT='https://api.smith.langchain.com'
LANGSMITH_API_KEY=''
LANGSMITH_PROJECT=""
LOGFIRE_TOKEN=''



#GCP DETAILS:
PROJECT_ID=""
LOCATION="us-central1"
GCP_DOC_AI_LOCATION="us"
GCP_DOC_AI_PROCESSOR_ID=""
GCP_RAW_BUCKET=""
GCP_PROCESSED_BUCKET=""
VPC_CONNECTOR=""
BACKEND_URL = ''
#gcloud storage buckets list --project=project-13dc8503-e0c1-4f2e-97b
#gcloud config get-value project
